body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #8cd98c;
  
}

.quem-somos {
  background-color: gray;
  color: white;
}

.margin {
  padding-top: 20px;
  padding-bottom: 50px;
}

.parceiros {
  background-color: #80b3ff;
}

.bg-footer {
  background-color: black;
  color: white;
}